#media{
    #twitter{
        color: #00acee !important;
    }
    #linkedin{
        color: #0072b1 !important;
    }
    #github{
        color:#0b0b0b !important;
    }
    #facebook{
        color: #4267B2 !important;
    }
    #instagram{
        color: #f04c33 !important; 
    }
}