@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #f0e8e5;
  --secondary: #2b3452;
}
* {
  padding: 0;
  margin: 0;
}

p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}


/* portfolio list */
.portfolio > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.portfolio > a:hover p {
  color: var(--primary);
}
.portfolio p {
  margin: 0;
}
.portfolio > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

/* portfolio details */
.portfolio-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}
