.root-layout {
  width: inherit;
  height: 100vh;
  .nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    max-width: 100vw;
    margin: 0 auto;
    background-color: rgba(16, 15, 15, 0.955);
    a {
      text-decoration: none;
      padding: 6px;
      border-radius: 4px;
      margin-right: 20px;
      font-weight: 400;
      color: var(--primary);
      &.active {
        background: var(--primary);
        color: var(--secondary);
        font-weight: 900;
      }
      &:hover {
        // color: red;
        font-weight: bolder;
      }
    }
    .wrapper {
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .items {
        display: flex;
        align-items: center;

        .item {
          display: flex;
          align-items: center;
          margin-right: 20px;
          position: relative;

          .icon {
            font-size: 20px;
            cursor: pointer;
          }

          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
   
  }
  .root-main{

// background:bottom right no-repeat url(../img/get-in-touch.png);


  }
}
.nav-dropdown{
 display: flex;
 flex-direction: column;
 width: 150px;
 height: 150px;
 justify-content: center;
 align-items: center;
//  padding: 10px;
 font-weight: bold !important;
 line-height: 1.5rem;
 a{
  text-decoration: none !important;
  font-size: 1.2rem;
  margin-top: 10px;
  color: gray;
 }
 a.active{
  color: black;
 }
}

@media only screen and ( max-width: 640px ) {
  .root-main { 
    background-image: none !important;
  }
}